<!DOCTYPE html>
<html>
<head>
	<title>Write Review for <%=dataFromGoogle.name%></title>
</head>
<body>
	<h1>Write Review for <%=dataFromGoogle.name%></h1>

	<ul>
<!-- 		<li>Name: <%=dataFromGoogle.name%> </li> -->
		<li>Address: <%=dataFromGoogle.formatted_address%></li> 
		<li>Open Now: <%=dataFromGoogle.opening_hours.open_now%></li>
		<li>Hours of Operation: <%=dataFromGoogle.opening_hours.weekday_text%></li>
		<li>Rating: <%=dataFromGoogle.rating%></li>
	</ul>

	<form action="/reviews/<%=dataFromGoogle.place_id%>" method="POST">

		Number of Outlets
		<input type="text" name="outlets">
		<br>
		<br>
		Wifi 
		<input type="checkbox" name="yes">yes <input type="checkbox" name="no">no
		<br>
		Drinks 
		<br> 
		<input type="checkbox" name="caffeinatedDrinks">Caffeinated Drinks <br> 
		<input type="checkbox" name="alcoholicDrinks">Alcoholic Drinks <br> 
		<br>
		Food Options 
		<br> 
		<input type="checkbox" name="breakfast">Breakfast 
		<br>
		<input type="checkbox" name="lunch">Lunch
		<br>
		<input type="checkbox" name="dinner">Dinner
		<br>  
		<br>
		Food Restrictions
		<br> 
		<input type="checkbox" name="vegan">Vegan 
		<br>
		<input type="checkbox" name="glutenFree">Gluten Free 
		<br>
		<input type="checkbox" name="lactoseIntolerant">Lactose Intolerant 
		<br> 
		<br>
		Seating
		<br> 
		<input type="checkbox" name="comfortableChairs">Comfortable Chairs  
		<br>
		<input type="checkbox" name="outdoorSeating">Outdoor Seating  
		<br>
		<br>
		Atmosphere
		<br> 
		<input type="checkbox" name="busy">Busy 
		<br>
		<input type="checkbox" name="relaxed">Relaxed
		<br>
		<input type="checkbox" name="stuffy">Stuffy
		<br>
		<input type="checkbox" name="hip">Hip
		<br>
		<br>
		Music
		<br> 
		<input type="checkbox" name="soft">Soft 
		<br>
		<input type="checkbox" name="energizing">Engergizing 
		<br>
		<input type="checkbox" name="intense">Intense
		<br>



	Additional Info 
	<br> 
			<textarea rows="5" name="reviewText" col="50"></textarea>
		<br> 
		<input type="Submit" name="Post">
	</form>
</body>
</html>
