<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Reviews show page</h1>

	<ul>
		<li>Name: <%=dataFromGoogle.name%> </li>
		<li>Address: <%=dataFromGoogle.formatted_address%></li> 
		<li>Open Now: <%=dataFromGoogle.opening_hours.open_now%></li>
		<li>Hours of Operation: <%=dataFromGoogle.opening_hours.weekday_text%></li>
		<li>Rating: <%=dataFromGoogle.rating%></li>
	</ul>

	<ul>
		<li></li>
	</ul>





</body>
</html>