<!DOCTYPE html>
<html>
<head>
  <title>Edit info and review</title>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>

  <br/>
  <br/>

  <h1>Edit <%=oneCafe.name%>'s Info & Review</h1>


  <form method="POST" action="/review/<%=index%>?_method=PUT"><br/> 

    Name: <input type="text" name="name" value="<%=oneCafe.name%>">

    <br/>

    Address: <input type="text" name="address" value="<%=oneCafe.address%>">
    
    <br/>

    <textarea rows="5" name="review" col="50"><%=review%></textarea>
    
    <br> 

    <input type="submit" name="cafe" value="Submit Changes" />

  </form>  

  <ul>
    <li>
      <a href="/index">Cafe List</a>
    </li>
  </ul>
  
</body>
</html>