<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=oneCafe.name%></h1>
		<ul>
			<li>
				 <%=oneCafe.address%>
			</li>
			<% if( oneCafe.review.length !== 0) { %>
				<% for( let i = 0; i < foundReviews.length; i++) {%>
					<li>
						<%=foundReviews[i].review%>
					</li>
					<form method="GET" action="/review/<%=foundReviews[i]._id%>/edit">
						<button type="Submit">Edit Review</button>
					</form> 

					<form action="/review/<%=foundReviews[i]._id%>?_method=DELETE"  method="POST">
						<button value="DELETE">Delete Review</button>
					</form>
				<%}%>
			<%}%>
			
		</ul>
	
		<br> 
		<form action="/review/<%=i%>/new">
			<button type="Submit">Add Review</button>
		</form>


</body>
</html>