<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=cafeList.name%></h1>
		<ul>
			<li>
				 <%=cafeList.address%>
			</li>
			<li>
				<% if( cafeList.review.length !== 0) { %>
					<% for( let i = 0; i < cafeList.review.length; i++) {%>
						<%=cafeList.review[i].review%>
					<%}%>
				<%}%>
			</li>
			
		</ul>
	
		<br> 
		<form action="/review/<%=i%>/new">
			<button type="Submit">Add Review</button>
		</form>

		<form method="GET" action="/cafeList/<%=i%>/edit">
			<button type="Submit">Edit Review</button>
		</form> 
		<form method="POST" action="/review/<%=i%>?_method=DELETE">
			<button type="Submit">Delete Review</button>
		</form>


</body>
</html>